@import './base.css';
@import './responsive.css';

#app{
  background: var(--app-bg);
  color:var(--default-text-color);
  font-family: 'Manrope';
  display: flex;
  flex-direction: column;
}
#app, body{
  font-size: 14px;
  min-width: 100vw;
  min-height:100vh;
}

.btn-pink{
  background: var(--pink-color);
  color:#fff;
  transition: all .2s ease;
  padding:6px 10px;
  border-radius:8px;
  font-weight: 600;
  border: none;
}
.btn-pink:hover{
  background: #b10074;
}